{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'dashboard/assets/favicon/favicon.ico' %}" type="image/x-icon" />

    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/libs.bundle.css' %}" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/theme.bundle.css' %}" />

    <!-- Title -->
    <title>Dashkit</title>
</head>

<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    <div class="container" id="app">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-xl-4 my-5">

                <router-view></router-view>

            </div>
        </div>

    </div>
    <!-- / .container -->


    <!-- Theme JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'dashboard/assets/js/theme.bundle.js' %}"></script>
    <script src="{% static 'authentication/assets/js/auth.js' %}"></script>

</body>

</html>