{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'dashboard/assets/favicon/favicon.ico' %}" type="image/x-icon" />
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/libs.bundle.css' %}" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/theme.bundle.css' %}" />
    <!-- Title -->
    <title>Dashkit</title>
</head>

<body>



    <div id="app">
        <!-- NAVIGATION -->
        <nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
            <div class="container-fluid">

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <!-- Brand -->
                <a class="navbar-brand" href="./index.html">
                    <img src="/static/dashboard/assets/img/logo.svg" class="navbar-brand-img mx-auto" alt="...">
                </a>

                <!-- User (xs) -->
                <div class="navbar-user d-md-none">

                    <!-- Dropdown -->
                    <div class="dropdown">

                        <!-- Toggle -->
                        <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-sm avatar-online">
                                <img src="/static/dashboard/assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                            </div>
                        </a>

                        <!-- Menu -->
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
                            <a href="./profile-posts.html" class="dropdown-item">Profile</a>
                            <a href="./account-general.html" class="dropdown-item">Settings</a>
                            <hr class="dropdown-divider">
                            <a href="./sign-in.html" class="dropdown-item">Logout</a>
                        </div>

                    </div>

                </div>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidebarCollapse">

                    <!-- Form -->
                    <form class="mt-4 mb-3 d-md-none">
                        <div class="input-group input-group-rounded input-group-merge input-group-reverse">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-text">
                                <span class="fe fe-search"></span>
                            </div>
                        </div>
                    </form>

                    {% include 'dashboard/partials/sidebar.html'%}

                    <!-- Divider -->
                    <hr class="navbar-divider my-3">

                    <!-- Heading -->
                    <h6 class="navbar-heading">
                        Documentation
                    </h6>


                    <!-- Push content down -->
                    <div class="mt-auto"></div>



                </div>
                <!-- / .navbar-collapse -->

            </div>
        </nav>

        <!-- MAIN CONTENT -->
        <div class="main-content">

            {% include 'dashboard/partials/topbar.html' %}


            <div class="container-fluid">
                <router-view></router-view>
            </div>

        </div>
        <!-- / .main-content -->
    </div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Theme JS -->

    <script src="{% static 'dashboard/assets/js/vendor.bundle.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'dashboard/assets/js/theme.bundle.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/portal.js' %}"></script>

</body>

</html>